@import url("https://fonts.googleapis.com/css?family=Arbutus+Slab|Open+Sans&display=swap");

*{  
  margin: 0px;  
  padding: 0px;  
} 

body {
  position: absolute;
  width: 100%;
  background: #f7f7f7;
}

h2 {
  font-family: "方正大标宋";
  font-size: 2rem;
  font-weight: normal;
  color: rgb(0, 0, 0);
  line-height: 1.25;
}

.container {
  position: absolute;
  text-align: center;
  top: 80px;
  left: 1100px;
  width: 320px;
  height: 100%;
  padding: 50px 0;
  z-index: 25;
}
ol.d {
  border-radius: 15px;
  list-style-type:lower-alpha;
  box-shadow: 15px 25px 25px #777777;
}
li {
  text-align: left;
  background: rgb(29, 43, 83);
  color: rgb(255, 255, 255);
  padding: 20px 35px;
  font-size: 1rem;
  transition: background 0.3s;
}
li:hover {
  background: rgb(69, 85, 116);
}
li:first-child{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 35px;
}
li:last-child{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-bottom: 35px;
}