@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

*{  
    margin: 0px;  
    padding: 0px;  
	box-sizing:border-box;
}  

body {
	background: #f7f7f7;
	overflow: scroll;
}

.slogan {
	position: absolute;
	top: 40px;
	left: 0;
	width: 1540px;
	height: 900px;
    z-index:-10;
	overflow: hidden;
}
.bgvid {
	position: absolute; 
	min-width:100%; 
	min-height:100%; 
	width: auto;
	height:auto;
	background-size: cover;
}

.text {
    position: absolute;
	top: 420px;
    width: 1540px;
	height: 900px;
    text-align: center;
    color: white;
	font-family: "方正大标宋";
}


.newsbox {
	position: relative;
	top: 800px;
	left: 0;
	width: 1200px;
	margin: 35px auto;
}
.newsbox2 {
	top: 840px;
}
.newsbox3 {
	top: 880px;
}
.newsbox4 {
	top: 920px;
}


.newstitle {
	font-family: "方正大标宋";
	font-size: 120px;
	padding: 85px 200px 5px 200px;
	text-align: center;
	background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}
.newstext{
	padding: 15px 200px 120px 200px;
	background-color: rgb(255, 255, 255);
	border-radius: 0 0px 10px 10px;
	line-height: 35px;
}


.middle{
	position: relative;
	background: rgb(1, 9, 32);
	top: 800px;
	left: 0;
	text-align: center;
	height: 350px;
	width: 1540px;
}

.p1 {
    font-size: 80px;
}
.p2 {
    font-size: 40px;
}
.p3 {
    font-size: 45px;
	opacity: 1;
}
.p4{
	font-size: 40px;
}
.p5{
	font-size: 15px;
}
.p6{
	font-size: 60px;
	color: white;
	font-family: "方正大标宋";
	line-height: 250px;
}

.set_1_btn {
	position: relative;
	top: 30px;
	left: 90%;
	width: 150px;
    background-color: rgb(1, 9, 32);
    border: none;
    outline: none;
    border-radius: 40px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    font-family: "微软雅黑";
    font-size: 0.9rem;
	padding: 0.6rem 2rem;
}
.set_1_btn:hover {
	background-color: rgb(197, 209, 231);
    color: black;
}