* {
    margin: 0;
    padding: 0;
}

.header{
    height: 40px;
    background: rgb(1, 9, 32);
}

.logo {
    float: left;
    width: 120px;
    height: 40px;
    text-align: left;
    transition: background 0.3s;	
}

.logo img {
    margin: 5px 8px;
    height: 30px;
}

.nav {
    position: fixed;
    width: 60%;
    float: left;
    margin-left: 35%;
}

.nav ul li {
    width: 20%;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    transition: background 0.3s;	
}

.nav ul li a {
    color: white;
    font-size: 0.7rem;
    font-family: "微软雅黑";
}

.user {
    float: right;
    width: 100px;
    height: 40px;
    text-align: right;
    transition: background 0.3s;
}

.user img {
    margin: 10px;
    width: 20px;
    height: 20px;
}

.logo:hover, .nav ul li:hover, .user:hover{
    background: rgb(37, 50, 75);
}